.all {
    width: 1480px;
    height: 1282;
}
.firs h1 {
    font-size: 80px;
    margin-left: 100px;
}
.firscolor {
    color: #4bcaff;
}
.two ul li {
    display: inline-block;
    margin-right: 84px;
    margin-top: 26px;
    
}
.two {
    font-size: 24px;
    text-transform: capitalize;
    background-color: #35444f;
    color: white;
    width: 1280px;
    height: 69px;
    text-align: center;
    margin-left: 101px;
    
}
.notw {
    text-transform: none;
}
.two ul span {
    background-color: #222f3a;
}
.three {
    font-size: 29px;
    text-transform: capitalize;
    text-align: left;
    color: #aab1b6;
}
.three ul li {
    margin-top: 36px;
    list-style-type: none;
}
.tyu {
    color: black;
    margin-left: 40px;
    background-color: #dbdbdb;
    
}
.three ul li span {
    color:black;
}
.fotka {
    width: 320px;
    height: 381px;  
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 80px;
   
}

.threa {
    display: inline-block;
}
.four {
    text-align: left;
    margin-left: 526px;
    margin-right: 134px;
    margin-top: 50px;
    font-size: 18px;
}
.five {
    font-size: 28px;
    background-color: #b4b7ba;
    width: 1350px;
    height: 69px;
    margin-left: 100px;
    text-transform: capitalize;
    margin-top: 50px;
}
.five ul {
    display: inline-block;
    
}
.five p {
    display: inline-block;
    font-size: 24px;
    text-align: left;
    margin-left: 300px;
}
.five ul li {
    display: inline-block;
    margin-left: 10px;
}
.five ul li a {
    color: #779eb1;
    border: #779eb1;
}