
.page td{
    border: 1px solid #e3e3e3;
    width: 310px;
    height: 69px;
    font-size:18px;
    text-transform: uppercase;
    text-align: center;
}
.page table {
    border-collapse: collapse;
  }
  
.page {
    border: 24px  solid #3a4965;
    width: 1192px;
    height: 643px;
    
}
.page td span {
    font-size: 30px;
}
.page td button {
    width: 192px;
    height: 49px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    outline:none;
}
.knopka1{
    background-color: #484848;
}
.knopka1:hover{
    background-color: #2e2222;
}
.knopka2{
    background-color: #89c331;
}
.knopka2:hover{
    background-color: #8bdb13;
}
.knopka3{
    background-color: #f04a56;
}
.knopka3:hover{
    background-color: #f01221;
}
.knopka4{
    background-color: #20807c;
}
.knopka4:hover{
    background-color: #17dbd5;
}
.line2 td {
    font-size: 20px;
    
}
.line1 td{
    color: #484848;
}
.line1 td span{
    font-weight: bold;
}
.line2 span { 
    font-size: 30px; 
    font-weight: bold;
    color: #484848;
} 

.line2 sup{
    font-size: 24px;
    font-weight: bold;
    color: #484848;
}

.line3 {
    background-color: #f2f2f2;
    color: #484848;

}
.line4 {
    background-color: #e3e3e3;
    color: #484848;
}
.knopka td:nth-child(2n) {
background-color:#eeeeee;

}
.knopka td:first-child {
    background-color: #dddddd;
    
}
.knopka td:nth-child(2n+1) {
    background-color: #f4f4f4;
    
}
.line1 td:nth-child(2){
    background-color: #89c331;
    color: white;
    font-weight: bold;
    border-color: #89c331;
}
.line1 td:nth-child(3){
    background-color: #f04a56;
    color: white;
    font-weight: bold;
    border-color: #f04a56;
}
.line1 td:nth-child(4){
    background-color: #20807c;
    color: white;
    font-weight: bold;
    border-color: #20807c;
}
.fas{
    color: #848484;
    padding-right: 12px;
}
