.site {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}
.site a {
    color: #16a085;
    margin-right: 60px;
    text-decoration: none;
}
.site ul li {
    display: inline-block;
}
.pict {
    background-image: url(../pictures/Без\ названия.jpg);
    height: 780px;
    width: 1280px;
    margin-left: 100px;
}
.bigo {
    font-size: 16px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
    background-color: #f5f6f7;
    padding-top: 30px;
}
.bigo h1 {
    text-transform: uppercase;
    font-size: 22px;
}
.bigo p {
    margin-left: 150px;
    margin-right: 150px;
}
.bigo p button {
    text-transform: uppercase;
    height: 51px;
    width: 192;
    color: #ffffff;
    background-color: #16a085;
}
.last {
    font-weight: bold;
    text-align: right;
    margin-right: 170px;
}