.all {
    width: 1366px;
    height: 768px;
    background-image: url(./pictures/depositphotos_140779330-stock-video-misfocused-image-of-pedestrian-crosswalk.jpg);
    
 }
 .first {
     display: inline-block;
     color: white;
 }
 .first img:hover {
     background: #f26522;
 }
 .first img {
     display: inline-block;
 }
 .first div  {
     display: inline-block;
     text-transform: uppercase;
 }
 .dz a span {
     font-size:29px;
 }
 .dz a {
     font-size: 18px;
 }
 .fr {
     margin-left: 155px;
     margin-top: 45px;
 }
 .two {
     display: inline-block;
     margin-top: -150px;
 }
 .two a {
     display: block;
     color: white;
     font-size: 18px;
     margin-left: 1050px;
     text-transform: none;
     text-decoration: none;
 }
 .zwei {
     margin-left: 155px;
     margin-top: 47px;
     text-transform: capitalize;
     font-size: 18px;
 }
 .shop img {
    display: block;
    
}
 .shop a {
     margin-left: 100px;
     color: white;
     text-decoration: none;
 }
 .shop a:hover {
    color: #f26522;
 }
 .shop {
     display: inline-block;
 }
 .sig img {
    display: block;
    
}
 .sig a {
    margin-left: 100px;
    color: white;
    text-decoration: none;
 }
 .sig {
     display: inline-block;
     margin-left: 69px;
 }
 .sig a:hover {
    color: #f26522;
 }

 .food img {
    display: block; 
}
.food a {
     margin-left: 100px;
     color: white;
     text-decoration: none;
}
.food a:hover {
    color: #f26522;
}
 .food {
     display: inline-block;
     margin-left: 69px;
 }
 
     
 .drei {
     margin-top: 50px;
     margin-left: 100x;
     text-transform: capitalize;
     color: white;
     font-size: 18px;
 }
.test img {
    display: block;
    
}
 .test a {
     margin-left: 100px;
     color: white;
     text-decoration: none;
 }
 .test a:hover{
    color: #f26522;
 }
 .test {
     display: inline-block;
 }
 .test2 img {
    display: block;
}
 .test2 a {
    margin-left: 100px;
    color: white;
    text-decoration: none;
 }
 .test2 a:hover {
    color: #f26522;
 }
 .test2 {
     display: inline-block;
     margin-left: 69px;
 }
 
 .test3 img {
    display: block;
    
}
.test3 a {
     margin-left: 100px;
     color: white;
     text-decoration: none;
}
.test3 a:hover {
    color: #f26522;
}
 .test3 {
     display: inline-block;
     margin-left: 69px;
 }
.last {
    text-align: center;
    color: white;
    margin-top: 80px;
    text-transform: none;
}
.last span {
    text-transform: capitalize;
}
.dz *{
    text-decoration: none;
    position: relative;
    z-index: 5;
    color: white !important;
}

.dz a{
    color: inherit;
    display: block;
}
.dz:hover *{
    color:#f26522 !important;
}
.two a:hover {
    color: #f26522;
}
.two a span {
    margin-left: 70px;
}